* {
  margin: 0;
  padding: 0;
  font-family: arial;
  box-sizing: border-box;
}

body {
  background: url(images/login/Backgtound.jpg);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.container {
  background: rgba(123, 122, 128, 0.3);
  backdrop-filter: blur(25px);
  border: 2px solid rgba(95, 95, 95, 0.4);
  color: white;
  width: 420px;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  animation: fadeInShow 0.5s;
}

@keyframes fadeInShow {
  0%{
    opacity: 0;
    transform: scale(0);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.form-group {
  margin: 20px 0;
  text-align: start;
}

.form-group input{
  background: none;
  font-size: 15px;
  padding: 15px;
  border: 1px solid lightgrey;
  border-radius: 35px;
  color: white;
  width: 100%;
  height: 45px;
  outline: none;
}

input::placeholder {
  color: white;
}

button {
  width: 100%;
  height: 45px;
  background-color: white;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  color: black;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: arial;
  font-weight: 550;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.otp-form{
  display: block;
  margin: 20px 0;
}

.otp-form p{
  color: rgb(255, 255, 255);
  font-weight: 550;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 650;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.otp-group{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 20px;
}

.otp-group input{
  width: 50px;
  height: 50px;
  outline: none;
  font-size: 25px;
  padding: 15px;
  border: none;
  border-bottom: 2px solid lightgrey;
  background: transparent;
  color: white;
}

.otp-group input::placeholder {
  color: white;
  font-family: arial;
  font-weight: 550;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  height: 150px;
  margin: 0;
}

button.disable {
  opacity: 0.6;
  pointer-events: none;
  user-select: none;
}

.error-shake{
  animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
  0%{
    margin-left: 0rem;
  }
  25%{
    margin-left: 0.5rem;
  }
  75%{
    margin-left: -0.5rem;
  }
  100%{
    margin-left: 0rem;
  }
}