h1 {
  font-family: arial;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: arial;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(images/login/Backgtound.jpg);
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420px;
  background: rgba(123, 122, 128, 0.3);
  backdrop-filter: blur(25px);
  border: 2px solid rgba(95, 95, 95, 0.4);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
}
.wrapper h1 {
  font-size: 36;
  text-align: center;
  color: white;
}

.wrapper .inputbox {
  position: relative;
  width: 95%;
  height: 50px;
  margin: 30px 0;
}

.wrapper .input {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: transparent;
  border: 2px solid rgba(214, 214, 214, 0.9);
  padding-left: 15px;
  color: white;
  outline: none;
}

.wrapper .input::placeholder {
  color: white;
  font-size: 16px;
}

.inputbox i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

label {
  color: white;
  text-align: top;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

.wrapper p {
  color: white;
  text-align: center;
}

.btn {
  margin-top: 20px;
  width: 100%;
  height: 45px;
  background-color: white;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 550;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.btn:hover {
  background-color: rgb(216, 216, 216);
  cursor: pointer;
}

.Lock {
  filter: invert(92%) sepia(0%) saturate(7466%) hue-rotate(42deg) brightness(115%) contrast(108%);
  background-color: transparent;
  border: none;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.passlock {
  width: 17px;
}

.passlock:hover {
  cursor: pointer;
}

.check {
  padding-left: 15px;
}

@keyframes fadeInShow {
  0%{
    opacity: 0;
    transform: scale(0);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.FadeIn {
  animation: fadeInShow 0.3s;
}

.policyBox {
  width: 420px;
  background: rgba(123, 122, 128, 0.3);
  backdrop-filter: blur(25px);
  border: 2px solid rgba(95, 95, 95, 0.4);
  color: white;
  border-radius: 10px;
  padding: 10px 60px;
  display: none;
}

.policyBox button{
  background: none;
  filter: invert(92%) sepia(0%) saturate(7466%) hue-rotate(42deg) brightness(115%) contrast(108%);
  border: none;
  margin: 0px 0;
  position: absolute;
  right: 45px;
  transform: translateY(80%);
}

.policyBox button:hover{
  cursor: pointer;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid white;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-right: 10px;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: white;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.check {
  padding-left: 15px;
  display: inline-flex;
  align-items: center;
}